@model IEnumerable<Z11.Models.UserInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.background)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.workExperience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skillvalue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hobies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.introduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.background)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.workExperience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skillvalue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hobies)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
